<h6 class="margin-left-5"><i class="fa fa-sort margin-right-5"></i>Sorting Options:</h6>
<div class="row">
    <span>Sort by Price:</span><br />
    <div class="cursor-pointer light-grey margin-left-10" (click)="onSort('priceAsc')"><i
            class="fa fa-sort-up margin-right-5"></i>Ascending</div>

    <div class="cursor-pointer light-grey margin-left-10" (click)="onSort('priceDsc')"><i
            class="fa fa-sort-down margin-right-5"></i>Descending</div>
</div>
<div class="row">
    <span>Sort by Rating:</span><br />
    <div class="cursor-pointer light-grey margin-left-10" (click)="onSort('ratingAsc')"><i
            class="fa fa-sort-up margin-right-5"></i> Ascending </div>
    <div class="cursor-pointer light-grey margin-left-10" (click)="onSort('ratingDsc')"><i
            class="fa fa-sort-down margin-right-5"></i> Descending </div>
</div>
<div class="row">
    <span>Sort by Title:</span><br />
    <div class="cursor-pointer light-grey margin-left-10" (click)="onSort('titeAsc')"><i
            class="fa fa-sort-up margin-right-5"></i> Ascending </div>
    <div class="cursor-pointer light-grey margin-left-10" (click)="onSort('titeDsc')"><i
            class="fa fa-sort-down margin-right-5"></i> Descending </div>
</div>